<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="Tracing" switchValue="Verbose" DateTimeFormat="dd-MM-yyyy, HH:mm:ss.fff" TraceLongExceptions="true" TraceMessageOnOneLine="true">
        <listeners>
          <remove name="Default" />
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="file" type="Voets.Diagnostics.FileTraceListener, Voets.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="AutoComplete.Interface.TRC" OneFilePerDay="true" KeepOldFileDays="50" traceOutputOptions="DateTime,ThreadId" />
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="AutoComplete" connectionString="Data Source=S071241\SQLEXPRESS;Initial Catalog=AutoComplete;User ID=sa;Password=Power_up10" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>